# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
data-collection/.env
backend/.env
backend/__pycache__/main.cpython-313.pyc
data-collection/node_count_by_country.csv
data-collection/__pycache__/getdata.cpython-313.pyc
data-collection/data/city_geocode_cache.json
data-collection/data/country_geocode_cache.json
data-collection/data/node_count_by_city.csv
data-collection/data/node_count_by_country.csv
frontend/.env
data-collection/data/plans.db
backend/nohup.out
data-collection/plans.db
data-collection/plans.db-shm
data-collection/plans.db-wal
